{% include 'adminheader.html' %}
<center>
    <div class="img-div">
    {% if data['raw'] %}

    
    <h1 class="hd">Update Staff Details</h1>
    <form action="" method="post" class="form" id="form">
        <table class="table form-group">
            <tr>
                <th>First Name</th>
                <td><input type="text" required value="{{ data['raw'][0]['fname'] }}" class="form-control" name="fname" id=""></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" required value="{{ data['raw'][0]['lname'] }}" class="form-control" name="lname" id=""></td>
            </tr>
            <tr>
                <th>Place</th>
                <td><input type="text" required value="{{ data['raw'][0]['place'] }}" class="form-control" name="place" id=""></td>
            </tr>
       
            <tr>
                <th>Phone</th>
                <td><input type="text" maxlength="10" value="{{ data['raw'][0]['phone'] }}" required class="form-control" name="phone" id=""></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="text" required value="{{ data['raw'][0]['email'] }}" class="form-control" name="email" id=""></td>
            </tr>
            <tr>
               
                <td colspan="2" align="center"><input type="submit" class="btn btn-success" name="update" id="btn"></td>
            </tr>
            </table>
            </form>
    

    {% else %}
    
    <h1 class="hd">Manage Staff</h1>
    <form action="" method="post" class="form" id="form">
        <table class="table form-group">
            <tr>
                <th>First Name</th>
                <td><input type="text" required class="form-control" name="fname" id=""></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" required class="form-control" name="lname" id=""></td>
            </tr>
            <tr>
                <th>Place</th>
                <td><input type="text" required class="form-control" name="place" id=""></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><input type="text" maxlength="10" required class="form-control" name="phone" id=""></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="text" required class="form-control" name="email" id=""></td>
            </tr>
            <tr>
                <th>Username</th>
                <td><input type="text" required class="form-control" name="uname" id=""></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" required class="form-control" name="pwd" id=""></td>
            </tr>
           
            <tr>
               
                <td colspan="2" align="center"><input type="submit" class="btn btn-success" name="btn" id="btn"></td>
            </tr>
            </table>
            </form>

    {% endif %}
</div>
    <br><br>
    {% if data['count'] >= 1 %}
    <h5>View AshaWorker Details</h5>
    <table class="table table-striped tbl-new" style="width: 1000px;">
        <tr>
            <th>index</th>
            <th>Name</th>
            <th>Place</th>
            <th>phone</th>
            <th>Email</th>
            
        </tr>
        {% for row in data['res'] %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row['fname'] }}{{ row['lname'] }}</td>
            <td>{{ row['place'] }}</td>
            <td>{{ row['phone'] }}</td>
            <td>{{ row['email'] }}</td>
           
            <td><a class="btn btn-info" href="?action=update&sid={{ row['staff_id'] }}&lid={{ row['login_id'] }}">Update</a></td>
            <td><a class="btn btn-danger" onclick="return confirm('Are You Sure!')" href="?action=delete&sid={{ row['staff_id'] }}&lid={{ row['login_id'] }}">Delete</a></td>
                   </tr>
        {% endfor %}
    </table>
    {% endif %}
</center>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function() {
        $("input[name='fname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phone']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pin']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                    $('#btn').prop('disabled', true);
                    console.log("err");
                } else {
                    $('#btn').prop('disabled', false);
                    $('#eerror').hide();
                    console.log("ok");
                }

        });
        $("input[name='address']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
            
        $("input[name='pwd']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });


</script>

{% include 'footer.html' %}