{% include 'adminheader.html' %}



 
<section class="w3l-main-slider position-relative" id="home">
  <div class="companies20-content">
   
          <div class="item">
              <li>
                  <div class="slider-info banner-view bg banner-top4 bg2">
                      <div class="banner-info">
                          <div class="container">
                              <div class="banner-info-bg text-center">
                                  <!-- <h4 class="sub-font">Feel the Best</h4> -->
                                  <h5 style="text-transform: uppercase;">Admin Home</h5>
                 
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
          </div>
        
                          </div>
                      </div>
                  </div>
              </li>
          </div>
      </div>
      <div class="banhny-timing">MON - Sun : 7:00AM - 8:00PM </div>
      <div class="banhny-left-botm">We Provide the Best Serice</div>


  </div>

</section>