{% include 'publicheader.html' %}



<center>
    <div class="img-div"  style="height: 100vh;display: flex;justify-content: center;align-items:center ;">
        <form action="" method="post" style="background-color: rgba(255, 255, 255, .4);width: 600px;border-radius: 4px;padding: 20px;">
            <h1 style="color: white;">Login</h1>
            <table class="table" style="color: white;">
                <tr>
                    <th>Username</th>
                    <td><input type="text" required class="form-control" name="uname" id=""></td>
                </tr>
                <tr>
                    <th>password</th>
                    <td><input type="password" required class="form-control" name="pasw" id=""></td>
                </tr>
               
                <tr>
                    <td colspan="2" align="center"><input type="submit" class="btn btn-success"  name="btn" id="btn"></td>
                </tr>
            </table>
        </form>
    </div>
</center>

